@model MyPassionProject.Models.ViewModels.DetailsAssignment
@{
    ViewBag.Title = "View";
}

<a href="/Assignment/List">Go back to list</a>
<br />
<a href="/Assignment/Edit/@Model.SelectedAssignment.AssignmentId">Update</a>
<br />
<a style="color:#ab2020;" href="/Assignment/DeleteConfirm/@Model.SelectedAssignment.AssignmentId">Delete</a>
<h2>@Model.SelectedAssignment.AssignmentType</h2>
<div>Project Name: @Model.SelectedAssignment.ProjectName</div>
<div>status: @Model.SelectedAssignment.Status</div>
<div>Due Date: @Model.SelectedAssignment.DueDate.ToString().Substring(0, 10)</div>

<div>
    <h2>Persons Responsible for @Model.SelectedAssignment.AssignmentType:</h2>
    @foreach (var person in Model.ResponsiblePersons)
    {

        <a href="/Person/Details/@person.PersonId">@person.PersonFirstName @person.PersonLastName</a> <a style="color:#ab2020;" href="/Assignment/UnAssign/@Model.SelectedAssignment.AssignmentId?PersonId=@person.PersonId">[x]</a><br />
    }

    <div>
        <h4>Add new person to do @Model.SelectedAssignment.ProjectName</h4>
        <form method="POST" action="/Assignment/Assign">
            <select name="PersonId">
                @foreach (var person in Model.AvailablePersons)
                {
                    <option value="@person.PersonId">@person.PersonFirstName @person.PersonLastName</option>
                }

            </select>
            <input type="hidden" value="@Model.SelectedAssignment.AssignmentId" name="id" />
            <input type="submit" value="Assign Person" />
        </form>
    </div>
</div>








